NEXT_PUBLIC_SUPABASE_URL=https://ksvlkijjldtozygtqgdq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzdmxraWpqbGR0b3p5Z3RxZ2RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwMTA0NjUsImV4cCI6MjA3OTU4NjQ2NX0.D3fzMij-xb8SFIEa-TvB9XXoFVAriTJvkfimgk3v1WY
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzdmxraWpqbGR0b3p5Z3RxZ2RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwMTA0NjUsImV4cCI6MjA3OTU4NjQ2NX0.D3fzMij-xb8SFIEa-TvB9XXoFVAriTJvkfimgk3v1WY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzdmxraWpqbGR0b3p5Z3RxZ2RxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDAxMDQ2NSwiZXhwIjoyMDc5NTg2NDY1fQ.vo54HPAEpkfo2-PzJU9aBLtR748_mMfbPV0lc0P1Yr4